 {{#each images}}
<div class="captionbar">
    <span onclick="return false" class="currentweek">
        {{week}}</span>
    <span onclick="return false" class="currentyear">
        {{year}}</span>{{caption}}
    <button class="addsingle">+</button>
    <span class="fullscreen"></span>
    <a href="https://beta.01p-w.com/2018" alt="{{label}}">
        <span class="galeriebutton"></span>
    </a>
</div>
<a href="https://beta.01p-w.com/2018/{{label}}" alt="Link to photo">
    <article class="image inactive" data-piio-bck="{{downloadUrl}}">
        <div class="imageoption">
        <p class="number">{{label}}</p>
        <button class="deletesingle" data-id="{{id}}" onclick="deleteImage(event)"><img src="img/delete.png"/></button>
        <button class="downloadsingle" data-id="{{id}}" onclick="downloadImage(event)"><img src="img/download.png"/></button>
        </div>
        <div class="cross"></div>
    </article>
</a>
{{/each}}
